.cardUserT p {
    font-size: small;
    text-align: left;
}

.cardUserT {
    display: flex;
    align-items: start;
    justify-content: space-between;

    height: 100%;
}

.cardUserT__info {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.programa {
    margin-bottom: 0%;
}

.imgUserdiv img {
    padding: 10%;
}

.imgUserdiv {
    margin: auto;
    ;
}


.divList {
    width: 100%;
    height: auto;
    flex-direction: column;

}

.head {
    padding: 0%;
    margin-bottom: 10px;


}

.scoreTutor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.scoreTutor p {
    margin: 0;
}