.cardUserT p {
    font-size: small;
    text-align: left;
}

.cardUserT {
    display: flex;
    align-items: start;
    justify-content: space-between;

    height: 100%;
}

.cardUserT__info {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.programa {
    margin-bottom: 0%;
}

.imgUserdiv img {
    padding: 10%;
}

.imgUserdiv {
    margin: auto;
    ;
}




.head {
    padding: 0%;
    margin-bottom: 10px;


}

.scoreTutor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.scoreTutor p {
    margin: 0;
}
.divList {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 50px;
}
@media screen  and (max-width: 768px) {
   
   .cardT{
         width: 90%;
         margin-left: 5%;
         align-items: center;
   }
   .cardT img{
            width: 80%;
            height: 50%;
            margin-left: 10%;
   }
}