.splitestudiante {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Columna izquierda */
.splitestudiante > .left-column {
  flex: 1;
 margin-left: 20px;
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.splitestudiante > .left-columnCursos {
  flex: 1;

  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Columna derecha */
.splitestudiante > .right-column {
  flex: 1;
  display: flex;
  justify-content: center; /* Centrar horizontalmente los elementos */
  
  padding: 20px;
  margin-bottom: 6%;
  box-sizing: border-box;
  overflow-y: auto;
}

.splitestudiante > .right-columnHome {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar horizontalmente los elementos */
  margin-top: 3%;
  margin-bottom: 6%;
  
  
}


/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
  .splitestudiante {
    flex-direction: column;
  }
}

