
.headUser img{
width: 100%;
height: 100%;
margin: auto;
padding: 10px;
}


.imgcontainer1{
border: 1px solid #ccc;
width: 100%;
overflow-y: auto;
justify-content: center; 

}
.imgcontainer1 p{
text-align: center;
margin: auto;
}





