.headUser img {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.rowUsuario {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: auto;
}

.imgcontainer1¿ {
    border: 1px solid #ccc;
    width: 90%;
    height: 100%;
    justify-content: center;
    margin: auto;
}

.stge__buscador {
    width: 100%;

    display: flex !important;
    align-items: center;
    justify-content: space-between !important;

    margin-bottom: 2rem;
}

.stge__buscador input,
.stge__buscador button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
}

.stge__buscador input {
    width: 50% !important;
    border: 1px solid black;
}

.stge__buscador .off {
    background-color: white;
    border: 1px solid #1c4cb4;
    color: #1c4cb4;
}

.stge__buscador .off:hover {
    background-color: #1c4cb4;
    color: white;
}

.stge__buscador button {
    border: 1px solid #1c4cb4;
}

.table-list-tutors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-list-tutors table {
    width: 95%;
}

.imgcontainer1 p {
    text-align: center;
    margin: auto;
}

.imgcontainer1 h5 {
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .left-column {
        align-items: center;
    }

    .imgcontainer1 {
        border: 1px solid #ccc;
        width: 90%;
        height: 100%;
        justify-content: center;
    }

    .imgcontainer1 p {
        text-align: center;
        margin: auto;
    }

    .imgcontainer1 h5 {
        text-align: center;
    }

    .rowUsuario {
        overflow-x: hidden;
    }

    @media screen and (max-width: 768px) {
        .imgcontainer1 {
            border: 1px solid #ccc;
            width: 99%;
            margin-top: 10px;
            margin-left: 5px;
            margin-right: 5px;
            height: auto;
            justify-content: center;
        }

        .imgcontainer1 p {
            text-align: center;
            margin: auto;
        }

        .imgcontainer1 h5 {
            text-align: center;
        }

        .rowUsuario {
            width: 90%;
            justify-content: center;
            overflow-y: auto;
        }
    }
}
