.imgcontainer p {
    margin: auto;
}
.cardUser p {
    font-size: small;
    text-align: left;
    display: flex;
}

.cardE {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .cardUser p {
        font-size: small;
        text-align: left;
        display: flex;
    }

    .cardE {
        margin-bottom: 20px;
        width: 70%;
        margin-left: 15%;
    }
    .cardE img {
        width: 55%;
        height: 90%;
        margin-left: 20%;
        margin-top: 5%;
    }
}
