




.rowUsuario{
flex-direction: column;
margin: 10px;
padding: 10px;
border-radius: 10px;
width: auto 
}

.imgcontainer p {
    
    margin: auto;
}
.cardUser p{
    font-size: small;
    text-align: left;
    display: flex;
    
    }