.Textdiv {
    background-color: #c54d19;
}

.textside {
    color: white;
    font-weight: bolder;
    margin-top: 20%;
    justify-content: center;

    padding: 5px;
    text-align: center;
}

.titulo1 {
    font-size: 80px;
    font-weight: bold;
}

.text {
    font-size: 30px;
    margin-top: 40px;
}

.Cursos {
    color: white;
    font-weight: bolder;

    text-align: center;
    font-size: 60px;
}

.Cursos-buttons {
    display: flex;
    justify-content: center;
}

.Cursos p {
    display: inline;
}

.tituloCursos {
    color: #201f1f;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.PGA {
    color: rgb(34, 34, 34);
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

.btnCurso {
    background-color: #c54d19;
    color: white;
    border: 0px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
    height: 50px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnCurso:hover {
    background-color: #e26935;
}

.btnCurso1 {
    background-color: #c54d19;
    color: white;
    border: 0px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
    height: 50px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnCurso1:hover {
    background-color: #e26935;
}

.btnCurso:disabled {
    background-color: #a66244;
    color: white;
    border: 0px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Cambia de estilo por resolucion de la pantalla del dispositivo */
@media screen and (max-width: 1300px) {
    .textside {
        margin-top: 100%;
    }

    .titulo1 {
        font-size: 50px;
    }

    .text {
        font-size: 20px;
    }

    .Cursos {
        font-size: 40px;
    }

    .cardstyle {
        margin-top: 10px;
        margin-right: 10px;
    }

    .imgCurso {
        width: 20%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .Checkbox {
        margin-top: 60px;
    }

    .tituloCursos {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .imgCurso {
        display: none;
    }

    .cardCurso {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0%;
        padding-right: 10%;
    }

    .cardstyle {
        width: 106%;
        margin-left: -8%;
        overflow-x: hidden;
    }

    .rowCur {
        flex-wrap: nowrap;
    }
    .Checkbox {
        margin-top: 50px;
    }
}
