.ToastCancelar {
    background-color: rgba(54, 92, 244, 0.818);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.EliminarWorker {
    background-color: rgb(221, 27, 27);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
