
.cardW{
    width: auto;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.imgWorkerdiv{
     
    width: 20%;
    margin: auto;
    height: 100%;
    border-radius: 10px;
   
}

.imgWorkerdiv img{
    width: 70%;
    height: 100%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10%;
    border-radius: 10px;
   
}
.crud{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.Workerpart{
  
    padding: auto;
    padding-top: 10px;
}

.btn-eliminar{
     
    background-color: #a92020;
    color: #ece4e4;
    border: none;
    border-radius: 5px;
    border : 1px solid #ac1c1c;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
}
.btn-eliminar:hover{
    background-color: #ffffff;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.btn-actualizar{
    background-color: #1c8f1c;
    color: #ece4e4;
    border: none;
    border-radius: 5px;
    border : 1px solid #1c8f1c;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
}
.btn-actualizar:hover{
    background-color: #ffffff;
    color: #1c8f1c;
    border: 1px solid #1c8f1c;
}

.ToastCancelar{
    background-color: rgba(54, 92, 244, 0.818);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.EliminarWorker{
    background-color: rgb(221, 27, 27);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}