.AñadirT {
    justify-content: space-between;
}

.AñadirT input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 50% !important;
    outline: none;
    border: 1px solid black;
}

.AñadirT button {
    padding: 0.5rem;
    width: auto !important;
}

.divWorker{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    
  
  
}

.divMap{
    
    height: auto;
    height: 78vh;
    overflow: auto;
    
   
}

/*scroolbar*/
.divMap::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000;
}



@media screen and (max-width: 768px) {
  
    .divMap img{
        width: 150px;
        height: 100px;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 10%;
        border-radius: 10px;
        position: relative;
        
       
    }
    
}

