#UserSeleccionadoHome{
        width: 30%;
        border-radius: 10%;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
        margin-bottom: 10px;
    
}

.btnNTutor{
    background-color: #c54d19;
    color: white;
    border: 0px;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btnNTutor:hover{
    background-color: #e26935;
    
}
