.navbar {
    background-color: #c54d19;

}
.navbar-brand{
    color: white;
    font-weight: bold;
}
.nav-link{
  color: white;   
}

.navbar a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.btn-user{
    background-color: #c54d19;
    border-color: #c54d19;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
}
.search{
    border-radius: 10px;
}
#Filtro{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-color: #c54d19;
}

.options{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-color: #c54d19;
    border-radius: 30px;
}
#logo{
    
    height: auto;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;  
    color: #f5f5f5;
    object-fit: cover;
    
}